<launch>
  <arg name="serial_no_camera1"       default="346122072720"/>    <!-- D430 -->
  <arg name="serial_no_camera2"       default="045322072204"/>    <!-- D435 -->
  <arg name="camera1"                 default="d430"/>
  <arg name="camera2"                 default="d435"/>
  <arg name="tf_prefix_camera1"       default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"       default="$(arg camera2)"/>
  <arg name="initial_reset"           default="false"/>
  <arg name="reconnect_timeout"       default="6.0"/>
  <arg name="align_depth"         default="true"/>


  <!-- D430: depth + infra1/infra2 -->
  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"             value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>

      <arg name="enable_color"          value="false"/>
      <arg name="enable_depth"          value="true"/>
      <arg name="enable_infra1"         value="true"/>
      <arg name="enable_infra2"         value="true"/>
      <arg name="enable_pointcloud"     value="false"/>
      <!-- <arg name="enable_pointcloud"     value="true"/> -->
      <arg name="enable_gyro"           value="false"/>
      <arg name="enable_accel"          value="false"/>
      <arg name="enable_sync"           value="true"/>
    </include>
  </group>

  <!-- D435: depth + color -->
  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"             value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <arg name="align_depth"              value="$(arg align_depth)"/>

      <arg name="enable_color"          value="true"/>
      <arg name="enable_depth"          value="true"/>
      <arg name="enable_infra1"         value="false"/>
      <arg name="enable_infra2"         value="false"/>

      <!-- <arg name="enable_infra1"         value="true"/>
      <arg name="enable_infra2"         value="true"/> -->

      <arg name="enable_pointcloud"     value="true"/>
      <arg name="enable_gyro"           value="false"/>
      <arg name="enable_accel"          value="false"/>
      <arg name="enable_sync"           value="true"/>
    </include>
  </group>
</launch>
