<launch>  
   
  <node pkg="key_to_camPos" name="key2joy_node" type="key_to_joy.py" output="screen">
  </node>

  <node pkg="key_to_camPos" type="joy2camPos" name="joy2camPos" output="screen">
    <remap from="/joy2camPos/odom" to="/drone0/odom"/>
    <param name="pub_cam" value="false"/>
  </node>


 </launch>



