<launch>

	<arg name="cmd_topic" value="/position_cmd" />
	<arg name="odom_topic" value="/drone0/odom" />
	<arg name="joint_state_est_topic" value="/joint_state_est" />
	<arg name="joint_state_cmd_topic" value="/joint_state_cmd" />

	<!-- 用来控制机械臂 -->
	<arg name="joy_cmd_topic" value="/joy_free" />

	<node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">

		<rosparam command="load" file="$(find ch_rc_sdf)/config/params.yaml" />

		<remap from="~odom" to="$(arg odom_topic)" />
		<remap from="~cmd" to="$(arg cmd_topic)" />
		<remap from="~joint_state_est" to="$(arg joint_state_est_topic)" />
		<remap from="~joint_state_cmd" to="$(arg joint_state_cmd_topic)" />
		<remap from="~joy_cmd" to="$(arg joy_cmd_topic)" />

		<rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
	</node>

</launch>